{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">

{% endblock %}

{% block title %}
löwenhunters
{% endblock %}

{% block content %}


{% if not current_user.is_authenticated: %}
<section class="colored-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="big-heading">Bitte Melde Dich An!</h1>
            </div>
        </div>
    </div>
</section>

{% else: %}

        <!-- Title -->
<section class="colored-section">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="big-heading">Einen Fang Melden!</h1>
          </div>
          <div class="col-lg-6">
            <form action="" method="post" role="form">
              {{ form.csrf_token() }}
              {{ wtf.form_field(form.date, 'date', 'date') }}
              {{ wtf.form_field(form.time, 'time', 'time') }}
              {{ wtf.form_field(form.location, 'location', 'text') }}
              {{ wtf.form_field(form.species, 'species', 'text') }}
              {{ wtf.form_field(form.size, 'size', 'text') }}
              {{ wtf.form_field(form.method, 'method', 'text') }}
              <br>
              <input type=submit class='btn btn-warning btn-block'>
            </form>
          </div>
          </div>
          <div class="row">
              <h1 class="big-heading">Fänge</h1>

              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Datum</th>
                        <th>Zeit</th>
                        <th>Ort</th>
                        <th>Art</th>
                        <th>Größe</th>
                        <th>Methode</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for fang in fänge %}
                      <tr>
                        <td>{{ fang.date }}</td>
                        <td>{{ fang.time }}</td>
                        <td>{{ fang.location }}</td>
                        <td>{{ fang.species }}</td>
                        <td>{{ fang.size }}</td>
                        <td>{{ fang.method }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

          </div>
    </div>
</section>



{% endif %}

{% endblock %}

{block footer %}
{{super()}}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
