{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">

{% endblock %}

{% block title %}
löwenhunters
{% endblock %}

{% block content %}

<section class="colored-section">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="big-heading">Logge Dich Ein!</h1>
            <span class="subheading">Willkommen Zurück!</span>
          </div>
          <div class="col-lg-6">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <br>
            <form action="" method="post" role="form">
              {{ form.csrf_token() }}
              {{ wtf.form_field(form.email, 'email', 'email') }}
              {{ wtf.form_field(form.password, 'password', 'password') }}
              <br>
              <input type=submit class='btn btn-warning btn-block'>
            </form>
          </div>
        </div>
      </div>
</section>


{% endblock %}

{block footer %}
{{super()}}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}