{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">

{% endblock %}

{% block title %}
löwenhunters
{% endblock %}

{% block content %}

{% if not current_user.is_authenticated: %}
<section class="colored-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="big-heading">Bitte Melde Dich An!</h1>
            </div>
        </div>
    </div>
</section>

{% else: %}


<header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">{{post.subtitle}}</h2>
                        <span class="meta">Posted by
                            {{post.author.name}}
                                  on {{post.date}}</span>
                    </div>
                </div>
            </div>
        </div>
</header>


<article>
    <section class="white-section">
        <div class="container-fluid">
            <div class="row">

               <div class="col-lg-8 col-md-10 mx-auto">
                {{ post.body|safe }}
                <br>
                <hr>
                {% if current_user.id == 1 %}
                <br>
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
                </div>
                {% endif %}
                   <br>
                   <br>

                <!--Comments Area -->

                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment_text') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                   <br>
                   <br>

                <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in post.comments: %}
                    <ul class="commentList">
                        <li>
                            <div class="commenterImage">
                                <img src="{{ comment.comment_author.email | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                {{comment.text|safe}}
                                <span class="date sub-text">{{comment.comment_author.name}}</span>

                            </div>
                        </li>
                    </ul>
                    {% endfor %}

            </div>
          </div>
    </section>
</article>

{% endif %}

{% endblock %}

{block footer %}
{{super()}}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}